<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="fregments/header :: header">
    <meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Header</title>
</head>
<body>

	<div th:replace="fregments/navigation :: navigation"></div>
	
	<div class="layout-body">
		<h1 layout:fragment="header">Hello World !!</h1>
		<div layout:fragment="content"></div>
		<th:block layout:fragment="script"></th:block>
	</div>
	
	<div id="memModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">修改會員資料</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="mail">信箱:</label>
						<h5 id="mail">{{ mail }}</h5>
					</div>
					<div class="form-group">
						<label for="name">暱稱:</label>
						<input type="text" class="form-control" id="name" v-model="name">
					</div>
					<div class="form-group">
						<label for="old-pw">原密碼:</label>
						<input type="password" class="form-control" id="old-pw" v-model="opw">
					</div>
					<template v-if="chgPw">
						<div class="form-group">
							<label for="new-pw-a">請輸入新密碼:</label>
							<input type="password" class="form-control" id="new-pw-a" v-model="npw1">
						</div>
						<div class="form-group">
							<label for="new-pw-b">請再次確認新密碼:</label>
							<input type="password" class="form-control" id="new-pw-b" v-model="npw2">
						</div>
						<a @click="notToChgPw()">不想改密碼了</a>
					</template>
					<template v-else>
						<a @click="toChgPw()">我要改密碼</a>
					</template>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" @click="submit()">送出</button>
					<button type="button" class="btn btn-default" @click="closeModal()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="errorModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
				<div style="font-size: 3vh; text-align: center">{{ msg }}</div>
				</div>
			</div>	
		</div>
	</div>
	<!-- Cart Modal -->
	<div id="cartModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">購物車</h4>
				</div>
				<div class="modal-body">
					<template v-if="hasGoods">
						<table class="table" style="border: 1px solid #ddd;">
							<thead>
								<tr class="info">
									<th style="width: 25%">商品名稱</th>
									<th style="width: 10%;text-align:center">數量</th>
									<th style="width: 10%;text-align:center">價格</th>
									<th style="width: 35%">附註</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr is="cart-row"
									v-for="good in contents"
									v-bind:key="good.food.id"
									v-bind:good="good"
									@edit="edit(good)"
									@delete="del(good)">
								</tr>
							</tbody>
							<tbody>
								<tr style="background-color:#eee;">
									<td colspan="2" style="padding: 10px 20px; vertical-align: middle;">
										<span style="font-size: 2vw">總金額：</span>
									</td>
									<td colspan="3" align="right" style="padding: 10px 20px; vertical-align: middle;">
										<strong style="font-size: 3vw">{{ '$ ' + total }} </strong>
										<span style="font-size: 2vw">元</span>
									</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-success btn-block btn-lg" @click="submit()">結帳</button>
					</template>
					<template v-else>
						<div class="panel panel-default">
							<div class="panel-body">
								<h4 style="text-align:center"><strong style="color: #999">購物車跟你的肚子一樣，是空的</strong></h4>
								<div style="padding: 5vh 0">
									<img style="width:30%;display: block;margin-left: auto;margin-right: auto;" th:src="@{/img/cry.jpg}">
								<div>
							</div>
						</div>
					</template>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="editModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div style="padding:0px 20px">
						<div class="row">
							<strong style="font-size: 2vw">修改{{ food.name }}</strong>
						</div>
						<div class="row">
							<div class="panel panel-default" style="margin-bottom: 5px">
								<div class="panel-body">
									<table>
										<tbody>
											<tr>
												<th style="width: 30%; padding:10px 0px">單價</th>
												<td><strong style="font-size: 2vw" class="form-control-static">{{ '$ ' + food.price }}</strong></td>
											</tr>
											<tr>
												<th style="padding:10px 0px">數量</th>
												<td>
													<div class="input-group">
														<div class="input-group-btn">
															<button class="btn btn-default" @click="minus">
																<i class="glyphicon glyphicon-minus"></i>
															</button>
														</div>
														<input type="text" style="text-align: center" class="form-control" v-model="count">
														<div class="input-group-btn" @click="plus">
															<button class="btn btn-default">
																<i class="glyphicon glyphicon-plus"></i>
															</button>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<th style="padding:10px 0px">總價</th>
												<td><strong style="font-size: 2vw">{{ '$ ' + total }}</strong></td>
											</tr>
											<tr>
												<th style="padding:10px 0px">附註</th>
												<td>
													<textarea type="text" rows="2" class="form-control" style="resize: none" v-model="note" placeholder="選填，20字內(Ex:加飯/飯少)"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<button type="button" class="btn btn-success btn-block" @click="submit">修改訂單</button>
							<button type="button" class="btn btn-default btn-block" @click="cancel">回購物車</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div id="confirmModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" style="background-color: red; color: white">
					<h4 class="modal-title"><strong>你即將刪除該商品</strong></h4>
				</div>
				<div class="modal-body">
					<h4 style="text-align: center;word-break: break-all;">確定不要<strong>{{ food.name }}</strong>了嗎?</h4>
					<div class="row" style="padding: 10px 2vw 0 2vw">
						<div class="col-sm-6">
							<button type="button" class="btn btn-danger btn-block" @click="submit">確定</button>
						</div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-default btn-block" @click="cancel">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function openMemModal() {
			$("#memModal").modal();
		}
		
		var memModal = new Vue({
			el: "#memModal",
			data: {
				mail: "[[${#authentication.principal.username}]]",
				name: "[[${#authentication.principal.name}]]",
				opw: "",
				npw1: "",
				npw2: "",
				chgPw: false
			},
			methods: {
				closeModal: function() {
					$("#memModal").modal('hide');
				},
				toChgPw: function() {
					this.chgPw = true;
				},
				notToChgPw: function() {
					this.chgPw = false;
				},
				submit: function() {
					if (this.chgPw && !this.isNpwMatch()) {	
						alert("你的新密碼打錯了");
						return;
					}
					axios.post("[[@{/edit}]]", {
						name: this.name,
						opw: this.opw,
						npw: this.npw1,
						chgPw: this.chgPw
					})
					.then(function(response) {
						console.log(response);
						if(response.data.status != "0") {
							errorModal.msg = "密碼錯誤，請重新操作";
							errorModal.alert();
							return;
						}
						$("#nav-name").html(memModal.name);
						memModal.closeModal();
						errorModal.msg = "修改成功";
						errorModal.alert();
					})
					.catch(function(error) {
						console.log(error);
					})
				},
				isNpwMatch: function() {
					return this.npw1 === this.npw2;
				}
			}
		});
		
		var errorModal = new Vue({
			el:"#errorModal",
			data: {
				msg: ""
			},
			methods: {
				alert: function(msg) {
					this.msg = msg;
					$("#errorModal").modal();
					window.setTimeout(( () => $("#errorModal").modal('hide') ), 1500);
				}
			}
		});
		
		function openCart() {
			$("#cartModal").modal();
		}
		
		var cartRow = {
			props: ['good'], 
			template: `
				<tr>
					<td style="vertical-align:middle;">{{ good.food.name }}</td>
					<td style="vertical-align:middle;text-align:center">{{ good.count }}</td>
					<td style="vertical-align:middle;text-align:center">{{ totalPrice }}</td>
					<td style="vertical-align:middle;">{{ good.note }}</td>
					<td>
						<button class="btn btn-info" @click="$emit('edit')"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-danger" @click="$emit('delete')"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
				<tr>
			`,
			computed: {
				totalPrice: function(){
					return this.good.food.price * this.good.count;
				}
			}
		}
		
		var cartModal = new Vue({
			el: "#cartModal",
			data: {
				contents: []
			},
			components: {
				'cart-row': cartRow
			},
			methods: {
				getContents: function() {
					var url = "[[@{/cart}]]";
					axios.get(url)
						.then(function(response){
							console.log(response.data.data)
							cartModal.contents = response.data.data;
						})
						.catch(function(error){
							console.log("error: " + error);
						});
				},
				edit: function(good) {
					editModalVm.food = good.food;
					editModalVm.count = good.count;
					editModalVm.note = good.note;
					$("#cartModal").modal('hide');
					editModalVm.open();
				},
				del: function(good) {
					confirmModalVm.food = good.food;
					confirmModalVm.count = good.count;
					confirmModalVm.note = good.note;
					$("#cartModal").modal('hide');
					confirmModalVm.open();
				},
				submit: function() {
					var url = "[[@{/cart/checkout}]]";
					axios.post(url)
						.then(function(response) {
							console.log(response);
							$("#cartModal").modal("hide");
							if (response.data.status == 0 ) {
								window.setTimeout(function() {
									errorModal.alert("結帳成功");
									cartModal.getContents();
								}, 150);
							} else {
								window.setTimeout(( () => errorModal.alert(response.data.message+"，請稍後再試") ), 100);
							}
						})
						.catch(function(error) {
							window.setTimeout(( () => errorModal.alert("網路問題，請稍後再試") ), 100);
							console.log(error);
						})
				}
			},
			computed: {
				total: function() {
					var bandoPrice = 0;
					if (this.contents.length > 0) {
						this.contents.forEach(function(good) {
							bandoPrice += good.food.price * good.count;
						});
					}
					return bandoPrice;
				},
				hasGoods: function() {
					return this.contents.length > 0;
				}
			},
			created: function(){
				this.getContents();
			}
		});
	
		var editModalVm = new Vue({
			el: "#editModal",
			data: {
				food: {
					id: "",
					name: "",
					price: 0
				},
				count: 1,
				note: ""
			},
			methods: {
				plus: function() {
					this.count += 1;
				},
				minus: function() {
					this.count -= 1;
				},
				submit: function() {
					var url = "[[@{/cart/update}]]";
					var good = this.$data;
					console.log(good);
					axios.post(url, good)
						.then(function(response) {
							console.log(response);
							if (response.data.status == 0 ) {
								cartModal.getContents();
								$("#editModal").modal("hide");
								window.setTimeout(function() {
									errorModal.alert("修改成功");
									window.setTimeout(( () => $("#cartModal").modal() ), 1650);
								}, 150);
							} else {
								window.setTimeout(( () => errorModal.alert(response.data.message+"，請稍後再試") ), 100);
							}
						})
						.catch(function(error) {
							window.setTimeout(( () => errorModal.alert("網路問題，請稍後再試") ), 100);
							console.log(error);
						})
				},
				open: function() {
					window.setTimeout(( () => $("#editModal").modal() ), 150);
				},
				cancel: function() {
					$("#editModal").modal('hide'); 
					window.setTimeout(( () => $("#cartModal").modal() ), 150);
				}
			},
			computed: {
				total: function() {
					return this.food.price * this.count
				}
			},
			watch: {
				count: function(newVal, oldVal) {
					if(newVal < 1) {
						this.count = 1;
					}
					if(newVal > 5) {
						this.count = 5;
					}
					if(isNaN(newVal)) {
						this.count = oldVal;
					}
				}
			}
		});
		
		var confirmModalVm = new Vue({
			el: "#confirmModal",
			data: {
				food: {
					id: "",
					name: "",
					price: ""
				},
				count: 0,
				note: ""
			},
			methods: {
				open: function() {
					window.setTimeout(( () => $("#confirmModal").modal() ), 150);
				},
				cancel: function() {
					$("#confirmModal").modal('hide');
					window.setTimeout(( () => $("#cartModal").modal() ), 150);
				},
				submit: function() {
					var url = "[[@{/cart/delete}]]";
					var good = this.$data;
					axios.post(url, good)
						.then(function(response) {
							console.log(response);
							if (response.data.status == 0 ) {
								cartModal.getContents();
								$("#confirmModal").modal('hide');
								window.setTimeout(function() {
									errorModal.alert("修改成功");
									window.setTimeout(( () => $("#cartModal").modal() ), 1650);
								}, 150);
							} else {
								window.setTimeout(( () => errorModal.alert(response.data.message+"，請稍後再試") ), 100);
							}
						})
						.catch(function(error) {
							window.setTimeout(( () => errorModal.alert("網路問題，請稍後再試") ), 100);
							console.log(error);
						})
				}
			}
		})
	</script>

	<div th:replace="fregments/footer :: footer"></div>

	<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.blockUI.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>