<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
    <head>
    	<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>Index</title>
    </head>
    <body>
	    <div id="team" class="container" layout:fragment="content">
            <!-- CARD -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                       <div class="col-sm-2 col-xs-2 col-md-2">
                                       </div>
                                       <div class="col-sm-8 col-xs-8 col-md-8">
                                          <div class="priceCircle">$75</div>
                                       </div>
                                       <div class="col-sm-2 col-xs-2 col-md-2">
                                       </div>
                                    </div>
                                    <h1 class="card-title">脆皮燒肉飯</h1>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="align-center">
                                       <h4 class="card-title">訂購脆皮燒肉飯</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD END -->
            <!-- CARD -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                       <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                                          <div class="priceCircle">$75</div>
                                       </div>
                                    </div>
                                    <h1 class="card-title">脆皮燒肉飯</h1>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="align-center">
                                       <h4 class="card-title">訂購脆皮燒肉飯</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD END -->
            <!-- CARD -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                       <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                                          <div class="priceCircle">$75</div>
                                       </div>
                                    </div>
                                    <h1 class="card-title">脆皮燒肉飯</h1>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="align-center">
                                       <h4 class="card-title">訂購脆皮燒肉飯</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD END -->
            <!-- CARD -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                       <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                                          <div class="priceCircle">$75</div>
                                       </div>
                                    </div>
                                    <h1 class="card-title">脆皮燒肉飯</h1>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="align-center">
                                       <h4 class="card-title">訂購脆皮燒肉飯</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD END -->
            <!-- CARD -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="row">
                                       <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                                          <div class="priceCircle">$75</div>
                                       </div>
                                    </div>
                                    <h1 class="card-title">脆皮燒肉飯</h1>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="align-center">
                                       <h4 class="card-title">訂購脆皮燒肉飯</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARD END -->
	    </div>
		
		<div layout:fragment="header">
			<!-- <h1>This Text is in the index.html</h1> -->
			<div class="container">
				<div class="row">
		        	<div class="panel panel-default status-panel">
					    <div class="panel-body">
				    		<h2 class="today-eat">今日店家</h2>
				    		<h1 class="store-name">蓉記燒臘</h1>
				    		<h2 class="count-down"><span class="time-prefix">　剩</span> 23:59:59 <span class="time-subfix">結束</span></h2>
					    </div>
					</div>
				</div>
		    </div>
		</div>
    </body>
    
</html>