<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
	<title>Index</title>
</head>
<body>
<div id="team" class="container" layout:fragment="content">
	<template v-if="isScheduleEmpty()">
		<div class="row">
	        <div class="panel panel-default status-panel">
				<div class="panel-body" id="shopInfo">
			    	<h1 class="store-name">還沒開放訂購喔</h1>
			    	<h2 style="text-align:center">快叫班代開團啦</h2>
				</div>
			</div>
		</div>
	</template>
	<template v-else>
		<div class="row">
			<div class="panel panel-default status-panel">
				<div class="panel-body">
			    	<h2 class="today-eat">今日店家</h2>
			    	<h1 class="store-name">{{ schedule.theShopOfDay.s_name }}</h1>
			    	<h2 class="count-down">
			    		<template v-if="schedule.orderStatus === '1'">
			    			<span class="time-prefix">　剩</span>
			    		 	 23:59:59 
			    			<span class="time-subfix">開始訂購</span>
			    		</template>
			    		<template v-else-if="schedule.orderStatus === '2'">
			    			<span class="time-prefix">　剩</span>
			    			 23:59:59 
			    			<span class="time-subfix">結束訂購</span>
			    		</template>
			    		<template v-else-if="schedule.orderStatus === '3'">
			    			<span class="time-prefix">　訂購在</span>
			    			 23:59:59 
			    			<span class="time-subfix"> 前結束</span>
			    		</template>
			    	</h2>
				</div>
			</div>
	    </div>
	    <template v-if="schedule.openOrder">
			<food-card
				v-for="food in schedule.theShopOfDay.foods"
				v-bind:key="food.foodId"
				v-bind:num="food.foodId"
				v-bind:name="food.f_name"
				v-bind:price="food.f_price"
			></food-card>
		</template>
	</template> 
</div>
	
<div layout:fragment="header">
	<!-- <h1>This Text is in the index.html</h1> -->
</div>
 <th:block layout:fragment="script">
<script>
	Vue.component('food-card',{
		props: [ 'num', 'price', 'name' ],
		template: `
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<div class="row">
										<div class="col-sm-2 col-xs-2 col-md-2">
										</div>
										<div class="col-sm-8 col-xs-8 col-md-8">
											<div class="priceCircle">{{ '$' + price }}</div>
										</div>
										<div class="col-sm-2 col-xs-2 col-md-2">
										</div>
									</div>
									<h1 class="card-title">{{ name }}</h1>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center">
									<div class="align-center" style="padding: 20px; width: 100%">
										<h1 style="text-align: center; font-size: 4em" class="card-title">訂 購</h1>
										<h3 style="text-align: center; font-size: 3em" class="card-title">{{ name }}</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		`
	})
	
	var listVm = new Vue({
		el: "#team",
		data: {
			schedule: { }
		},
		methods: {
			getSchedule: function() {
				var url = "[[@{/schedule}]]";
				var vm = this;
				axios.get(url)
					.then(function(response){
						listVm.schedule = response.data.data;
						console.log(response.data.data);
					})
					.catch(function(error){
						console.log("error: " + error);
					});
			},
			isScheduleEmpty: function() {
				return isEmpty(this.schedule);
			},
			isBeforeOrder: function() {
				return !this.schedule.openOrder && !this.schedule.closeOrder;
			},
			isOrdering: function() {
				return this.schedule.openOrder && !this.schedule.closeOrder;
			},
			isAfterOrder: function() {
				return !this.schedule.openOrder && this.schedule.closeOrder;
			}
		},
		created: function() {
			this.getSchedule();
		}
	});
	
	var hasOwnProperty = Object.prototype.hasOwnProperty;

	function isEmpty(obj) {

	    // null and undefined are "empty"
	    if (obj == null) return true;
	    
	    // Assume if it has a length property with a non-zero value
	    // that that property is correct.
	    if (obj.length > 0)    return false;
	    if (obj.length === 0)  return true;

	    // If it isn't an object at this point
	    // it is empty, but it can't be anything *but* empty
	    // Is it empty?  Depends on your application.
	    if (typeof obj !== "object") return true;

	    // Otherwise, does it have any properties of its own?
	    // Note that this doesn't handle
	    // toString and valueOf enumeration bugs in IE < 9
	    for (var key in obj) {
	        if (hasOwnProperty.call(obj, key)) return false;
	    }

	    return true;
	}
	
</script>
</th:block>
</body>
</html>